@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500&family=Pacifico&display=swap");

.header {
  padding-top: 110px;
  background-color: #000;
  box-sizing: border-box;
  overflow: hidden;
}

.path {
  fill: none;
  stroke: #f2f2f2;
  stroke-width: 3px;
}

.path1 {
  stroke-dasharray: 6884;
  animation: drawPath01 2s linear 1, floating 2s ease-in-out infinite alternate;
  /* stroke-dashoffset: 6884; */
  /* animation: drawPath1 1s linear, floating 2.2s linear infinite; */
}

.content1 {
  background-color: #f1f1f1;
}

.content2 {
  background-color: #000;
}

.path2 {
  stroke: #000;
  stroke-dasharray: 19592;
  stroke-dashoffset: 19592;
}
.path3 {
  stroke-dasharray: 8189;
  stroke-dashoffset: 8189;
}
.path4 {
  stroke-dasharray: 16554;
  stroke-dashoffset: 16554;
}

.content2 {
  background-image: url("./newzealand.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content3 {
  background-color: #1a1a1a;
}

.footer {
  height: 30vh;
  background-color: #000;
}

@keyframes drawPath01 {
  0% {
    stroke-dashoffset: 6884;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes floating {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

/* @keyframes drawPath1 {
  0% {
    stroke-dashoffset: 6884;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes floating {
  50% {
    transform: translate3d(0, 40px, 0);
  }
} */
